<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./add-form.css">
    <script src="./add-form.js"></script>
</head>

<body>

    <!-- Add dialog starts here -->
    <div class="dialog-wrapper">
        <!-- Add header starts -->
        <div class="dialog-header">
            <span>Add Invoice</span>
            <img src="../images/baseline-close-24px.svg" />
        </div>
        <!-- Add header ends-->

        <!-- Add form starts -->
        <div class="dialog-form">
            <form action="">
                <div>
                <div>
                    <label for="">Customer Name *</label>
                    <input type="text">
                </div>

                <div>
                    <label for="">Customer No. *</label>
                    <input type="text">
                </div>

                <div>
                    <label for="">Invoice No. * <label>
                            <input type="text">
                </div>

                <div>
                    <label for="">Invoice Amount *</label>
                    <input type="text">
                </div>

                <div>
                    <label for="">Due Date *</label>
                    <input type="date">
                </div>

                <div>
                    <label for="">Notes</label>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
            </div>
            <div class="dialog-footer">
                <span>
                    <button>Cancel</button>
                </span>
                <span>
                    <input type="reset" value="Clear">
                    <button>Add</button>
                </span>
            </div>
            </form>
        </div>
        <!-- Add form ends -->

        <!-- Add footer starts -->
        
        <!-- Add footer ends -->
    </div>
    <div class="overlay"></div>

    <!-- Add dialog ends here -->

</body>

</html>